.product-wrapper {
  max-width: 1280px;
  padding: 160px 0;
  margin: 0 auto;

  > .title {
    margin-bottom: 120px;
    font-size: 4rem;
    text-align: center;
  }
}

.type-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  > .tab {
    position: relative;
    width: 100%;
    padding: 16px 0;
    font-size: 1.6rem;
    font-weight: 900;
    text-align: center;
    cursor: pointer;

    > input[type='radio'] {
      display: none;
    }

    &:hover,
    &:has(input[type='radio']:checked) {
      color: var(--gray-50);
      background-color: var(--gray-text);
    }

    &:has(input[type='radio']:checked)::after {
      position: absolute;
      right: 0;
      bottom: -32px;
      left: 0;
      display: block;
      width: 0;
      height: 0;
      margin: 0 auto;
      content: '';
      border: 16px solid var(--gray-text);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }
}

.tab-content {
  display: grid;
  place-items: center;
  height: 500px;
  margin-bottom: 80px;
  background-color: var(--gray-50);
}

.common-part > .title {
  font-size: 4rem;
  text-align: center;
}
