.header {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.anchors {
  display: flex;
  font-weight: 600;
  list-style-type: none;

  > .anchor {
    margin-right: 1.5rem;
  }
}

.news,
.lang {
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
}

.lang {
  font-weight: 900;
}

.divider {
  width: 1px;
  height: 1rem;
  background-color: var(--gray-text);
}
