.header {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  inline-size: 100%;
}

.anchors {
  display: flex;
  font-weight: 600;

  > .anchor {
    margin-inline-end: 1.5rem;
  }
}

.news,
.lang {
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
}

.lang {
  font-weight: 900;
}

.divider {
  inline-size: 1px;
  block-size: 1rem;
  background-color: var(--gray-text);
}
